main {
  padding: 10px 100px 10px 100px;
  width: 100%;
  height: 90vh;
  background-color: rgb(242, 242, 242);
}
.header-contact {
  font-size: 24px;
  text-transform: uppercase;
  padding: 10px 0;
}
