<app-header></app-header>
<main>
  <div class="contact-container">
    <h1 class="header-contact">contact us</h1>
    <hr />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel voluptatibus
      eius nisi quam quos ex aut cupiditate ad quaerat adipisci ipsa similique
      vitae iusto sequi id, eum recusandae amet eos sit tempore ducimus neque
      corporis in. Ipsum fuga quam illum et ratione nihil neque! Ducimus facere
      rerum voluptatibus animi at impedit ipsum nesciunt laborum, voluptatum,
      quos deleniti adipisci praesentium minus placeat dolorem! Non ratione
      earum veniam, odit magni facere illum labore veritatis voluptatum vero
      quia atque nihil expedita obcaecati voluptatibus ad temporibus! Qui
      corrupti velit quibusdam quisquam molestiae atque rem expedita autem
      excepturi, ut quaerat alias ex. Nihil, alias dolorum!
    </p>
  </div>
</main>
<hr />
<app-footer></app-footer>
