<main>
  <div class="about-container">
    <h1 class="header-about">About Us</h1>
    <hr />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam doloribus
      autem quis aut totam quo amet dicta quod ullam eum, unde animi. Veniam
      quos, nisi ipsam autem, et hic aperiam veritatis est adipisci enim illo
      odit commodi quod labore iusto eaque, voluptates corporis omnis explicabo.
      Excepturi, delectus laboriosam molestias, ut, aliquid dolorem fuga fugiat
      vel debitis aperiam eius voluptate nesciunt qui dicta. Rem expedita ex
      reprehenderit rerum cupiditate eius, esse saepe id hic ut pariatur omnis
      minima aperiam recusandae necessitatibus et nostrum, asperiores dolorem
      quibusdam ab debitis corporis quisquam provident illum. Voluptate earum
      explicabo possimus veniam unde. Provident, iusto fugiat.
    </p>
  </div>
</main>
<hr />
<app-footer></app-footer>
