<main>
  <div class="blog-container">
    <h1 class="header-blog">Blogs page</h1>
    <hr />
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores
      inventore repudiandae consectetur deserunt, ut delectus nobis animi
      reiciendis vel ea nulla, fugiat amet explicabo ab iste accusamus dolorem
      cupiditate eum eius impedit soluta commodi perferendis consequatur quam?
      Eius vitae asperiores error quo sit quae, temporibus, blanditiis nisi
      quidem, reiciendis quisquam!
    </p>
  </div>
</main>
<hr />
<app-footer></app-footer>
