<main>
  <div class="main-body">
    <header
      class="bg-black flex align-center justify-between text-white py-4 text-2xl px-2 font-bold"
    >
      <h2>Admin</h2>
      <button>Profile</button>
    </header>
    <div class="static-bar grid grid-cols-5">
      <ul
        class="nav relative bg-green-400 font-bold text-end w-300 min-h-screen col-span-1 text-2xl text-white gap-5 py-4 ml-0"
      >
        <li>
          <a href="" class="active rounded-lg shadow-xl">Users</a>
        </li>
        <li><a href="">Appointments</a></li>
        <li><a href="">Blogs</a></li>
        <li><a href="">Notifications</a></li>
        <li><a href="">Chats</a></li>
        <li><a href="">Settings</a></li>
      </ul>

      <!-- home page -->
      <!-- <div class="home-page col-span-4 px-6 py-4 text-xl">
        <h1>Home page</h1>
        <br />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad fugit,
          iusto accusantium consequatur unde officia iste quaerat magni
          aspernatur dolorem, exercitationem cum labore fuga optio molestiae
          repudiandae vel dolore a possimus? Eos ipsa similique rem, fugit
          incidunt molestias debitis at magnam? Ratione optio perferendis autem
          mollitia recusandae sit, fugit unde vel. Vitae quos illo est nisi
          magnam ducimus ratione magni aliquam rerum inventore obcaecati enim,
          repellendus qui harum, beatae impedit neque, praesentium dignissimos
          dolorem nihil autem pariatur? At, sint. Quidem nemo laudantium quam
          deserunt quisquam distinctio ad nam, adipisci at quibusdam eos in hic
          beatae, obcaecati praesentium ut, a cumque!
        </p>
      </div> -->

      <!-- appointments page -->
      <div class="appointment-page col-span-4 px-6 py-4 text-xl">
        <h1>Appointments page</h1>
        <br />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad fugit,
          iusto accusantium consequatur unde officia iste quaerat magni
          aspernatur dolorem, exercitationem cum labore fuga optio molestiae
          repudiandae vel dolore a possimus? Eos ipsa similique rem, fugit
          incidunt molestias debitis at magnam? Ratione optio perferendis autem
          mollitia recusandae sit, fugit unde vel. Vitae quos illo est nisi
          magnam ducimus ratione magni aliquam rerum inventore obcaecati enim,
          repellendus qui harum, beatae impedit neque, praesentium dignissimos
          dolorem nihil autem pariatur? At, sint. Quidem nemo laudantium quam
          deserunt quisquam distinctio ad nam, adipisci at quibusdam eos in hic
          beatae, obcaecati praesentium ut, a cumque!
        </p>
      </div>
    </div>
  </div>
</main>
