<nav>
  <section class="logo">
    <h3>E-Health</h3>
  </section>

  <section class="nav-bar">
    <ul>
      <li><a href="" (click)="onHomeClick($event)">Home</a></li>
      <!-- <li><a href="/doc" (click)="onHomeClick($event)">Doc</a></li> -->
      <li><a href="/blog" (click)="onBlogClick($event)">Blog</a></li>
      <li><a href="/faq" (click)="onBlogClick($event)">FAQ</a></li>
      <li><a href="/about" (click)="onAboutClick($event)">About Us</a></li>
      <li>
        <a href="/contact" (click)="onContactClick($event)">Contact Us</a>
      </li>
      <section class="auth">
        <a href="/login" class="login" (click)="onLogin()">Login</a>
        <a href="/signup" class="signup">Signup</a>
      </section>
    </ul>
  </section>
</nav>
