<app-header></app-header>
<main>
  <div class="blog-container">
    <h1 class="header-blog">Blogs page</h1>
    <hr />
    <div
      ng-app="HealthBlogApp"
      ng-controller="BlogController"
      class="blog-container"
    >
      <div class="blog-post" *ngFor="let post of blogPosts">
        <h2>{{ post.title }}</h2>
        <p class="author-date">
          By <strong>{{ post.author }}</strong> on {{ post.date }}
        </p>
        <img alt="{{ post.title }}" class="blog-image" />
        <p class="content">{{ post.content }}</p>
        <ul class="tags">
          <li *ngFor="let tag of post.tags">#{{ tag }}</li>
        </ul>
        <button class="read-more">Read More</button>
        <button class="comment">Comment</button>
      </div>
    </div>
  </div>
</main>
<hr />
<app-footer></app-footer>
