/* appointment-page */
/* General Layout */
.main-appointment {
  background-image: url(../../../../assets/images/hoss.jpg);
  background-size: cover;
  height: 100%;
}
.appointment-list {
  padding: 0px 10px;
}
.appointment-list li {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appointment-list li:hover {
  background-color: #f1f1f1;
}
