<div id="home" class="home-page">
  <h1
    class="intro bg-white/50 text-white/90 align-center p-6 rounded-lg shadow-lg mob:text-lg tab:text-2xl desk:text-4xl text-center"
  >
    <span class="block"> Welcome </span>
    <span class="block"> to </span>
    <span class="block"> eHealth Platform </span>
  </h1>

  <div
    class="list-search flex flex-col tab:flex-row items-start justify-between gap-4"
  >
    <!-- Input Container -->
    <div class="inp-container">
      <input
        type="text"
        placeholder="Search for doctors here"
        class="search-eng w-full p-2 border rounded-lg shadow-sm focus:ring-2 focus:ring-indigo-500"
        (input)="handleInput($event)"
        (input)="filterDoctors()"
      />
      <ul class="list-table bg-white shadow-lg w-full max-h-60 overflow-y-auto">
        <li
          *ngIf="filteredDoctors.length === 0 && searchName"
          class="text-gray-500"
        >
          No matching doctors found.
        </li>
        <li *ngFor="let doctor of filteredDoctors" class="py-2">
          <span class="font-medium text-gray-800">{{ doctor.name }}</span> -
          {{ doctor.specialty }} ({{ doctor.location }})
          <hr class="border-t my-2" />
        </li>
      </ul>
    </div>

    <!-- Select Container -->
    <select
      [(ngModel)]="selectedSpecialty"
      (change)="filterDoctors()"
      class="select-cont w-full tab:w-1/3 p-2 mob:text-sm"
    >
      <option value="" disabled selected>Select Specialties</option>
      <option value="all">All Specialties</option>
      <option *ngFor="let specialty of speciality" [value]="specialty">
        {{ specialty }}
      </option>
    </select>
  </div>

  <div class="list-topDoctor">
    <h1
      class="bg-white/70 text-white/50 rounded-lg shadow-lg mob:text-lg tab:text-4xl"
    >
      Top Doctors
    </h1>
    <button (click)="Dtrs()" class="btn-view">{{ text_doctors }}</button>
    <ul class="doc-container">
      <li *ngFor="let dtr of doctors">
        <h2>{{ dtr.name }}</h2>
        <h3>{{ dtr.specialty }}</h3>
        <h4>{{ dtr.experience }} year Experience</h4>
        <p>{{ dtr.location }}</p>
      </li>
    </ul>
  </div>

  <br />

  <section class="btn text-lg mb-2 mob:text-sm">
    <button class="btn-signup"><a href="/signup">Sign-Up</a></button>
  </section>
</div>
