.logo {
  font-size: 24px;
  font-weight: bold;
}
nav {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding: 20px;
  background-color: #052c56;
  color: white;
}
.nav-bar ul {
  display: flex;
  gap: 18px;
  align-items: center;
  color: white;
}

.nav-bar ul li,
a {
  list-style: none;
  text-decoration: none;
  margin: 5px;
}
a:hover,
a:focus {
  text-decoration: underline;
}
.auth {
  display: flex;
  gap: 10px;
  font-size: 16px;
}
.auth {
  color: white;
}
.login,
.signup {
  color: #052c56;
  background: white;
  border: none;
  border-radius: 10px;
  padding: 7px;
}

.login:hover,
.signup:hover {
  /* border: 0.5px solid #007bff; */
  color: white;
  background-color: #007bff;
  transition: 0.4s linear;
}
