.logo {
  font-size: 24px;
  font-weight: bold;
  position: relative;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 13px;
  color: white;
  margin-bottom: 100px;
}
.btn-ham,
.btn-close {
  position: absolute;
  top: 25px;
  right: 15px;
}
.nav-bar ul {
  align-items: center;
  color: white;
}

.nav-bar ul li,
a {
  list-style: none;
  text-decoration: none;
  margin: 0px 5px;
}
a:hover,
a:focus {
  text-decoration: underline;
  cursor: pointer;
}
.login,
.signup {
  color: #052c56;
  background: white;
  border: none;
  border-radius: 10px;
  padding: 0px 7px;
  margin-top: 5px;
}

.login:hover,
.signup:hover {
  color: white;
  background-color: #007bff;
  transition: 0.2s linear;
  text-decoration: none;
}
