<div class="docter-page">
  <header>
    <section class="logo">#</section>
    <nav class="navbar">
      <a href="">Home</a>
      <a href="">Appointment</a>
      <a href="">Blog</a>
      <a href="">Notifications</a>
      <a href="">Chat</a>
      <a href="">Contact Us</a>
      <a href="">Profile</a>
    </nav>
  </header>
  <main>
    <div class="">
      <div class="home-page">
        <h1>Welcome</h1>
        <h3>Today's Appointments</h3>
        <section>
          <h3>Status of patient</h3>
          <ol>
            <!-- <li *ngFor="let appointment of appointments">{{ appointment }}</li> -->
          </ol>
        </section>
      </div>

      <div class="appointment-page">
        <h1>Appointments</h1>
        <hr />
        <h2>Upcoming Appointments</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia
          dolore voluptatem sequi numquam dolorum quod reiciendis distinctio
          repellat recusandae unde sint molestias odit doloribus porro nihil
          totam culpa saepe dolores, ducimus incidunt eaque voluptates quia nam.
          Corporis illum beatae totam itaque tempore saepe deleniti eaque
          expedita eum quam ut nisi harum, esse voluptas debitis adipisci
          excepturi magnam veniam eos pariatur mollitia, error fugit aspernatur
          tempora. Amet at sit nam, explicabo aut cupiditate! Facilis, quod
          culpa aspernatur possimus id perferendis ratione laboriosam corporis.
          Magni reprehenderit in ipsam a magnam nulla veniam, pariatur at quis
          asperiores repellat voluptatibus voluptas velit porro maxime.
        </p>

        <br />

        <h2>Past Appointments</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
          velit consectetur, voluptas maiores quia dolores, tempore nihil ipsa,
          atque ullam minus in a voluptatum magni? Totam, consequuntur, dolorum
          minima sit sequi, consequatur enim similique aut animi doloribus modi
          amet saepe hic aliquam! Alias reiciendis repellendus minima, provident
          sunt iusto nisi.
        </p>
      </div>

      <div class="blog-page">
        <h1>Blogs</h1>
        <hr />
        <div class="text">
          <h2>Name: {{ authorName }}</h2>
          <h4>Specialized: {{ specialty }}</h4>
          <h4>Address: {{ address }}</h4>
          <h4>Phone: {{ phone }}</h4>
          <h4>Bio: {{ bio }}</h4>
        </div>
        <br />
      </div>

      <div class="notification-page">
        <h1>Notification</h1>
        <hr />

        <br />
      </div>

      <div class="chat-page">
        <h1>Chat</h1>
        <hr />

        <br />
      </div>

      <div class="profile-page">
        <h1>Profile</h1>
        <hr />

        <br />
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</div>
